body{
    margin: 0;
    margin-top: 0;
    padding: 0;
    background-color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:85%;
    margin: auto;
    border-style: solid;
    border-color: #ccc;
    border-width: 2px;
}
main{
    
    padding: 12px;
    display: grid;
    grid-template-columns: 65% 35%;
}

.vids{
    
    width:100%;
    height: 450px;
}
#side{
   
    margin-left:12px;
    background-color: white;
   
    
}
#vid-comment{
    background-color: white;
    padding: 12px;
    margin-top: 12px;
    
}
.side-videos{
    margin: 10px;

}


.side-videos>a{
    text-decoration: none;
    display: grid;
    grid-template-columns: 50% 50%
}
.vid-comments{
    color: black;

}
small{
    color: gray;
}
img{
    width: 90%;
}


.side-videos>a>img{
    width: 185px;
}

header{
    background-color: white;
    box-sizing: border-box;
    margin: 0px;
}
header nav{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    margin: 0%;
    background-color: white;
}
header nav ul{
    height: 50px;
    box-sizing: border-box;
    padding: 0%;
    text-align: center;
}
header nav ul li{
    height: 50px;
    box-sizing: border-box;
    padding: 0%;
    text-align: center;
    
}
header nav ul .search{
    width:50%;
    height:40px;
}
header ul form input{

    width: 90%;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 0%;
}
header ul form button{
    width: 10%;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-left: -6px;
}
header{
    height: 70px;
    width:100%;
    box-sizing: border-box;
    margin-top: -10px;
    padding-top: 0px;
}

ul, ol{
    list-style-type: none;
}
ul li, ol li{

    display: inline-block;
}
header nav{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    text-align: center;
}
header nav ul .search{
    width:53%;
    padding: 0%;
    box-sizing: border-box;
    height:50px;
    margin-left: 3%;
}
header ul form input{

    width: 90%;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 0%;
}
header ul form button{
    width: 10%;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-left: -6px;
}

header ul form{
    padding: 0%;
   
}

 .btn{
     background: rgb(22, 122, 198);
     color: white;
     width: 80px;
     border-radius: 5%;
     border: none;
     height: 30px;
     box-sizing: border-box;
 }
 .logo{
    
     height: 40px;
     box-sizing: border-box;
  
 }
 .social{
     box-sizing: border-box;
     height: 30px;
     width: 100%;
     
 }
 
 .social .share{
    float: left;
    height: 30px;
    box-sizing: border-box;
    margin-top: 4px;
    padding-top: 4px;
    cursor: pointer;
 }

 .social .likes{
    
    height: 30px;
    box-sizing: border-box;
    float: right;
    text-align: center;
    line-height: 30px;
    margin-top: 3px;
    padding-top: 3px;
    list-style-type: none;
 }
 .social .share li a{
    color: #777;
    text-decoration: none;
 }
 .social .likes li{
     margin-left: 5px;
     cursor: pointer;
     color: #777;
 }
 .feeds{
     width: 100%;
     box-sizing: border-box;
    height: 40px;
    
        
 }
 
 .feeds .subscribe{
     float: left;
     margin-top: 3px;
     box-sizing: border-box;
     height: 40px;
     line-height: 40px;
 }

 .feeds .subscribe .avater{
    text-decoration: none;
    margin-top: 0px;
    
 }

 .feeds .subscribe li img{
     position: relative;
     top: 7px;
 }

 .feeds .views{
     float: right;
     box-sizing: border-box;
     line-height: 40px;
     margin-top: 3px;
     font-size: 20px;
     font-weight: bold;
     position: relative;
     top: 22px;
     color: rgb(102, 102, 102);
 }
 .line{
    border-bottom-color: #777;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    margin-top: 0.5px;
 }

 .feeds ol li .btnsubnumber{
     border-style: solid;
     background-color: whitesmoke;
     border-radius: 0px;
     height: 25px;
     border-color: #ccc;
     border-width:1px;
     width:35px; 
     margin: 0px;
     margin-top: 2px;
     color: #777;
     line-height: 25px;
     
     
 }

 .feeds ol li img{
   
    border-radius: 0px;
   
}
.feeds ol .btnlisub{
    box-sizing: border-box;
    padding: 0px;
    margin-left: -16px; 
}
.btn-div{
    height: 25px;
    box-sizing: border-box;
   
}
nav ul .right-component{
    margin-left: 1.5%;
}

nav ul .right-component img, nav ul .logo{
    position: relative;
    top: 12px;
}