body{
    margin: 12px;
}
nav{
    padding: 15px;

}
input{
    width: 65%;
    margin-left:15px;
    margin-right: 35px;
}

main{
    display: grid;
    grid-template-columns: 80% 20%;
}
#main-video{
    background-color: blue;
    width: 70%;
    height: 35%;
}

#vids1{
    background-color:green;
    width: 50%;


}

#vids2{
    background-color:green;
    width: 50%;


}